<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268559208117-0g49u06rrf76hlj57s65abu5nr8r9o22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268559208117-0g49u06rrf76hlj57s65abu5nr8r9o22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>268559208117-glhp94lr4r00tglv4g5vlk783dhftf2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABUs1RFTXfHq0c8jTg-AIXNy8iT3EaWSw</string>
	<key>GCM_SENDER_ID</key>
	<string>268559208117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaba999.mobile</string>
	<key>PROJECT_ID</key>
	<string>fixit-f7e24</string>
	<key>STORAGE_BUCKET</key>
	<string>fixit-f7e24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268559208117:ios:062a701d25a063882fb8fc</string>
</dict>
</plist>